git+https://github.com/astronomy-commons/hipscat.git@main
git+https://github.com/astronomy-commons/hipscat-import.git@main
git+https://github.com/astronomy-commons/lsdb.git@main
git+https://github.com/macauff/macauff.git@main