git+https://github.com/astronomy-commons/hats.git@sandro/assoc-catalogs
git+https://github.com/astronomy-commons/hats-import.git@main
git+https://github.com/astronomy-commons/lsdb.git@delucchi/join_info
git+https://github.com/macauff/macauff.git@main